<%= week_calendar events: appointments do |date, appointments| %>
  <%= date.mday %> <br />


  <% appointments.each do |appointment| %>
      * <span class="appt_link"><%= link_to appointment.name, edit_appointment_path(appointment) %> </span><br />
  <% end %>
<% end %>
