<fieldset>
  <legend>Edit your appointment</legend>
</fieldset>

<%= render partial: 'appointments/form', locals: {appointment: @appointment} %>

<br /><br /><p>  <%= link_to "Delete", @appointment, method: :delete, data: { confirm: "Are you sure you want to delete this appointment?" } %> </p>
