<h2>Edit your Appointment!</h2>

<%= render partial: 'appointments/form', locals: {appointment: @appointment} %>

<p>  <%= link_to "Delete", @appointment, method: :delete, data: { confirm: "Are you sure you want to delete this appointment?" } %> </p>
