<%= month_calendar events: @appointments do |date, appointments| %>
  <%= date %>

  <% appointments.each do |appointment| %>
    <div>
      <%= link_to appointment.name, appointment_path(appointment) %>
    </div>
  <% end %>
<% end %>
